In [2]:
# Import de libs
import pandas as pd
import numpy as np
from scipy.stats import variation
import FuncionesIntervalos as fi
import FuncionesSinIntervalos as fsi

# Ejercicio 1

In [5]:
# a) Identificar y clasificar la variable en estudio
print('x = presión arterial sistólica mmHg')

x = presión arterial sistólica mmHg

In [6]:
# Creación de la tabla de valores
data = pd.Series([172, 148, 123, 140, 108, 152, 123, 129, 133, 130, 137, 128, 115, 161, 142])

In [7]:
# b) Determinar la presión arterial promedio de esta muestra
data.mean()

136.06666666666666

In [8]:
# d) ¿Cuántos pacientes registraron una presión sistólica superior a los 140 mm?
data[data > 140].count()

5

In [9]:
# e) Determinar la mediana de distribución e interpretar en términos del problema
data.median()

133.0

In [10]:
# Desvio Estandar (usando np)
np.std(data)

16.522577146303647

In [11]:
# Desvio Estandar
np.sqrt(((data - data.mean())**2).sum()/data.count())

16.522577146303647

In [12]:
# Coeficiente Variación
np.std(data)/data.median()*100

12.42299033556665

# Ejercicio 2

In [13]:
dataHombres = pd.Series([23.8, 23.2, 24.6, 26.2, 23.5, 24.5, 21.5, 31.4, 26.4, 22.7, 27.8, 28.1])
dataMujeres = pd.Series([19.6, 23.8, 19.6, 29.1, 25.2, 21.4, 22.0, 27.5, 33.5, 20.6, 29.9, 17.7])

## a) Para cada grupo calcular las medidas de tendencia central

### Hombres

In [14]:
# Media
dataHombres.mean()

25.308333333333337

In [15]:
# Modo
modos = dataHombres.mode()
if (modos.count() == dataHombres.count()):
    print('No tiene modo')
else:
    print(modos)

No tiene modo

In [16]:
# Mediana
dataHombres.median()

24.55

In [17]:
# Varianza
np.var(dataHombres)

7.129097222222221

In [18]:
# Desvio Estandar
np.std(dataHombres)

2.67003693274498

### Mujeres

In [19]:
# Media
dataMujeres.mean()

24.15833333333333

In [20]:
# Modo
modos = dataMujeres.mode()
if (modos.count() == dataMujeres.count()):
    print('No tiene modo')
else:
    print(modos)

0    19.6
dtype: float64

In [21]:
# Mediana
dataMujeres.median()

22.9

In [22]:
# Varianza
np.var(dataMujeres)

22.102430555555554

In [23]:
# Desvio Estandar
np.std(dataMujeres)

4.701322213543287

# Ejercicio 3

In [24]:
data = {
    'x': [5,6,7,8,9,10],
    'f': [4,7,12,17,11,5]
}

df = pd.DataFrame(data)

# Calculo columna fr
df["fr"] = df["f"] / pd.Series(df['f']).sum()

# Calculo columna fr%
df["fr%"] = df['fr'] * 100

# Calculo columna F
df['F'] = df['f'].cumsum()

# Calculo columna G
df['G'] = np.cumsum(df['f'][::-1])[::-1]

# Mostrar tabla
df

    x   f        fr        fr%   F   G
0   5   4  0.071429   7.142857   4  56
1   6   7  0.125000  12.500000  11  52
2   7  12  0.214286  21.428571  23  45
3   8  17  0.303571  30.357143  40  33
4   9  11  0.196429  19.642857  51  16
5  10   5  0.089286   8.928571  56   5

In [25]:
# Calculo Promedio
np.repeat(df['x'], df['f']).mean()

7.696428571428571

In [26]:
# Calculo Mediana
div = pd.Series(df['f']).sum() / 2
index = next(x for x, val in enumerate(df['F'].values) if val >= div)
df['x'][index]

8

In [27]:
# Calculo Modo
df['x'][df['f'].idxmax()]

8

In [28]:
# Frecuencia acumulada para x = 8
df.loc[df['x'] == 8]['F']

3    40
Name: F, dtype: int64

# Ejercicio 4

In [29]:
# Tabla de frecuencias
data = {
    'x':  ['96.5-96.8', '96.9-97.2', '97.3-97.6', '97.7-98.0', '98.1-98.4', '98.5-98.8', '98.9-99.2', '99.3-99.6'],
    'LI': [96.5,96.9,97.3,97.7,98.1,98.5,98.9,99.3],
    'LS': [96.8,97.2,97.6,98.0,98.4,98.8,99.2,99.6],
    'f':  [1,8,14,22,19,32,6,4]
}

df = pd.DataFrame(data)

# Calculo columna fr
df["fr"] = df["f"] / pd.Series(df['f']).sum()

# Calculo columna fr%
df["fr%"] = df["fr"] * 100

# Calculo columna F
df['F'] = df['f'].cumsum()

# Calculo columna G
df['G'] = np.cumsum(df['f'][::-1])[::-1]

# Calculo columna MP
df['MP'] = (df['LI'] + df['LS']) / 2

# Mostrar tabla
df

           x    LI    LS   f        fr        fr%    F    G     MP
0  96.5-96.8  96.5  96.8   1  0.009434   0.943396    1  106  96.65
1  96.9-97.2  96.9  97.2   8  0.075472   7.547170    9  105  97.05
2  97.3-97.6  97.3  97.6  14  0.132075  13.207547   23   97  97.45
3  97.7-98.0  97.7  98.0  22  0.207547  20.754717   45   83  97.85
4  98.1-98.4  98.1  98.4  19  0.179245  17.924528   64   61  98.25
5  98.5-98.8  98.5  98.8  32  0.301887  30.188679   96   42  98.65
6  98.9-99.2  98.9  99.2   6  0.056604   5.660377  102   10  99.05
7  99.3-99.6  99.3  99.6   4  0.037736   3.773585  106    4  99.45

In [30]:
# Calculo Promedio
promedio = np.repeat(df['MP'], df['f']).mean()
promedio

98.16698113207536

In [31]:
# ¿Cuántos individuos registraron una temperatura de al menos 97,3 grados Fahrenheit?
df.loc[df['LI'] >= 97.3]['f'].sum()

97

In [32]:
# Calculo Modo
#
# Buscar el 'f' mas grande
#
# Mo = LI + [( (d1) / (d1-d2) ) * i]
#
fMax = df['f'].idxmax()
L = df.loc[fMax, 'LI']
d1 = df['f'][fMax] - df.loc[fMax - 1, 'f']
d2 = df['f'][fMax] - df.loc[fMax + 1, 'f']
C = (df['LS'] - df['LI']).loc[fMax]
modo = L + ((d1)/(d1+d2)) * C
df.loc[(df['LI'] < modo) & (df['LS'] > modo)]['x']

5    98.5-98.8
Name: x, dtype: object

In [33]:
# Varianza
varianza = (((df["MP"] - promedio) ** 2) * df['f']).sum() / (df['f'].sum())
varianza

((df["MP"] - promedio) ** 2 * df['f']).sum() / df['f'].sum()

0.38254182983268314

In [34]:
# Desvio Estandar
desvio = np.sqrt(varianza)
desvio

0.6184996603335229

In [35]:
np.sqrt((((df["MP"] - np.repeat(df['MP'], df['f']).mean())**2) * df["f"]).sum() / df['f'].sum())

0.6184996603335229

In [36]:
# Coeficiente Variación
(desvio/promedio)*100

0.6300485694893521

In [37]:
# Coeficiente Variacion (otras forma)
(np.repeat(df['MP'], df['f']).std())/(np.repeat(df['MP'], df['f']).mean())*100

0.6330416911799076